<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>328535405625-lorhn8rll8qn0dee2356lofne2cqtm29.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.328535405625-lorhn8rll8qn0dee2356lofne2cqtm29</string>
	<key>API_KEY</key>
	<string>AIzaSyBeZzfwH5jthxVPPP7X5zlBZy2XKM_vGps</string>
	<key>GCM_SENDER_ID</key>
	<string>328535405625</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Raitz.fitnessApp</string>
	<key>PROJECT_ID</key>
	<string>rickfit-4976a</string>
	<key>STORAGE_BUCKET</key>
	<string>rickfit-4976a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:328535405625:ios:e90bb6a83e2dc14450c9e8</string>
	<key>DATABASE_URL</key>
	<string>https://rickfit-4976a.firebaseio.com</string>
</dict>
</plist>